<!DOCTYPE html>
<html lang="en">


        <main>
            <img id="note"
                src="https://media.istockphoto.com/vectors/please-note-stamp-please-note-square-grunge-red-sign-vector-id1205008122?k=20&m=1205008122&s=612x612&w=0&h=qME4xHtT2JnyX8UZMaIB-PnkM7w6BQ3r_JEF8cWWoNY="
                alt="Please note" />
            <h1>400</h1>
            <h2>{{message}}</h2>
        </main>
