<main>
  <h1>About Cubicle</h1>
  <div class="about">
    <p>
      <i>"Cubicle"</i> is a place, where you can browse some of the most popular rubik cubes in the world and add
      some new cubes that
      you have discovered. This application was created as an exercise for the JS Back-End course at the
      Software University
    </p>
  </div>
</main>
</div>